/* Reset some default browser styles */
body, h1, img, .sidebar, .sidebar a {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color for the body */
body {
    background-color: #f0f0f0; /* Light gray background */
    font-family: Arial, sans-serif;
    color: #333; /* Dark gray text color */
    text-align: center;
    position: relative; /* Add relative positioning to the body */
    z-index: 0; /* Set the z-index to 0 for the body */
}

/* Style the header with a purple background */
h1 {
    background-color: #562785; /* Purple background color */
    color: #fff; /* White text color */
    padding: 20px;
    margin: 0; /* Remove any default margin */
    position: relative; /* Add relative positioning to the header */
    z-index: 0; /* Set the z-index to 1 for the header to make it overlap */
}

/* Style the image */
img {
    max-width: 100px; /* Set a maximum width for the image */
    height: auto;
    position: absolute; /* Position the image absolutely */
    top: 0px; /* Position 20px from the top */
    left: 0px; /* Position 20px from the left */
    border: 2px solid #333; /* Add a border around the image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a shadow to the image */
    z-index: 2; /* Set the z-index to 2 for the image to be above all */
}

/* Style the sidebar */
.sidebar {
    background-color: #ccc; /* Grey background color for the sidebar */
    width: 60px; /* Adjust the width as needed */
    height: 100%; /* Full height of the viewport */
    position: fixed; /* Fix the sidebar position */
    top: 0; /* Position at the top */
    left: 0; /* Position at the left */
    display: flex;
    flex-direction: column;
}

.sidebar a {
    color: #333; /* Dark gray text color for the tabs */
    text-decoration: none;
    font-size: 20px; /* Adjust the font size as needed */
    padding: 10px; /* Add spacing around tabs */
    text-align: center;
    background-color: #ccc; /* Grey background color for the tabs */
    border-right: 4px solid #fff; /* White border on the right side of tabs */
    z-index: 1; /* Set the z-index to -1 for the numbers to be behind the header */
}

.sidebar a:hover {
    background-color: #666; /* Darker grey background on hover */
    color: #fff; /* White text color on hover */
}
